// colors
$primary-color: #127369;
$secondary-color: #10403b;
$tertiary-color: #8aa6a3;
$fourth-color: #4c5958;
$fifth-color: #bfbfbf;

// border-radius
$primary-border-radius: 3rem;
$secondary-border-radius: 1.5rem;
$tertiary-border-radius: 5px;
